@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
}

.hero-body {
  background: url('../images/HomeBackground.jpeg');
  padding: 0 !important;
}

.title-section {
  background-position: center;
}

.title.is-1 {
  font-size: 60px;
}

.column.is-four-fifth {
  padding: 3rem 0;
}


h4 {
  margin: 0 !important;
}

.overlay {
  background-color: RGBA(0, 0, 0, 0.5);
  padding: 1rem 4.5rem;
}

.football-teams {
  padding: 4.5rem;
}
/* 
.team-badge {
  padding: 35px;
} */

img {
  height: 200px;
}

.social-media {
  height: auto;
  width: 40px;
  margin: 5px;
}

.stadium {
  margin: 30px 0;
}

.main-section {
  padding: 1rem 4.5rem;
}

/* .card-hover {
  margin: 10px;
} */
.card-hover:hover {
  /* display: inline-block;
  margin: 0 0.5rem; */
  animation-delay: 0;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.7s; /* don't forget to set a duration! */
}

.description {
  white-space: pre-line;
}