@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  font-family: 'Architects Daughter', cursive;
}

.hero-body {
  background: url('../images/HomeBackground.jpeg');
  padding: 0 !important;
}

.title-section {
  background-position: center;
}

.title.is-1 {
  font-size: 60px;
}

h4 {
  margin: 0 !important;
}

.overlay {
  background-color: RGBA(0, 0, 0, 0.5);
  padding: 4.5rem 4.5rem;
}
